---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/207.244.71.78/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "207.244.71.78",
          "city": "Washington",
          "region": "Washington, D.C.",
          "country": "US",
          "loc": "38.8951,-77.0364",
          "org": "AS30633 Leaseweb USA, Inc.",
          "postal": "20004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Sun, 03 Dec 2023 16:39:55 GMT
- request:
    method: get
    uri: http://ipinfo.io/207.244.71.78/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "207.244.71.78",
          "city": "Washington",
          "region": "Washington, D.C.",
          "country": "US",
          "loc": "38.8951,-77.0364",
          "org": "AS30633 Leaseweb USA, Inc.",
          "postal": "20004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Sun, 03 Dec 2023 16:39:55 GMT
recorded_with: VCR 6.2.0
